{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center">{{ search | title }}</h2>
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/"><img src="https://hips.hearstapps.com/hmg-prod/images/month-pure-breed-beagle-puppy-on-gray-screen-royalty-free-image-865226542-1566913909.jpg?resize=2048:*" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price TEST Price</a>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}